/* Footer.module.css */

.containerFooter {
  background-color: #202325;
  color: #fff;
  font-family: 'Cairo', sans-serif;
  padding-top: 40px;
}

.footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px 20px;
}

.section {
  flex: 1 1 200px;
  min-width: 180px;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
}

.section h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.section p,
.section a {
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
  line-height: 1.8;
  display: block;
}

.section a:hover {
  color: crimson;
}

.socialicons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.socialicons a {
  color: #fff;
  font-size: 16px;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  transition:  0.3s all ease;
}

.socialicons a:hover {
color: crimson;


}

.footerBottom {
  border-top: 1px solid #333;
  background-color: #202325;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footerBottom p {
  font-size: 13px;
  color: #aaa;
  margin: 10px 0;
}

.paymentMethods {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

.paymentIcon {
  width: 50px;
  height: auto;
  object-fit: contain;
}
@media (max-width: 991px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
  }

  .section {
    width: 100%;
    max-width: 400px;
    margin-bottom: 30px;
  }

  .socialicons {
    justify-content: center;
  }

  .footerBottom {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  .paymentMethods {
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-evenly;
    padding: 40px 30px;
  }

  .section {
    flex: 1 1 45%;
    min-width: 200px;
    text-align: center;
  }

  .footerBottom {
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding: 25px;
  }

  .paymentMethods {
    justify-content: center;
    flex-wrap: wrap;
  }

  .socialicons {
    justify-content: center;
  }
}
