
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,a,ol{
text-decoration: none;
  list-style: none;
  color: aliceblue;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s all ease;
}

